<section style="border: 2px solid red; padding:20px; margin-top: 20px;">
  

    <h5>Diretiva *ngFor</h5>

    <ul>
        <li *ngFor="let curso of cursos, let i = index; even as isEven; first as isFirst">
            {{ i + 1 }} - {{ curso }} - {{!isEven ? 'par' : 'impar'}} - {{ isFirst ? 'É o primeiro item!' : "Não é o primeiro item!"}}
        </li> 
    </ul>

    <button (click)="cursos.push('Teste')">Adicionar</button>
    <button (click)="cursos.pop()">Deletar</button>
       
       
</section>